---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2023 - 2024",
    title: "Backend Developer",
    company: "Imagine Apps",
    description:
      "Implemented factory design pattern for dynamic API creation, reducing redundancy by 40%. Developed software with Python, PostgreSQL, Jest, AWS, NodeJS, increasing efficiency by 30%. Monitored app performance, improved infrastructure, and utilized AWS services. Collaborated with teams for seamless technology integration. Improved software through CI/CD pipelines and unit testing, enhancing backend business logic. Adhered to coding standards, improving maintainability by 35%. Introduced automation, reducing man-hours and increasing throughput by 20% and 50% respectively.",
  },
  {
    date: "2022 - 2023",
    title: "Full-Stack Developer",
    company: "Bitekso S.A",
    description:
      "Developed a solution to automate data collection from properties, aiding in tax determination, reducing manual data entry by 90%. Implemented features for detailed property information PDF generation. Migrated queries to Sequelize ORM, improving database interaction and readability by 50%.",
  },

  {
    date: "2022 - 2022",
    title: "Web Development Internship",
    company: "Willay",
    description:
      "Contributed to the development of 3 web applications using Python and Django for the backend and Angular for the frontend.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
